In [2]:
import pandas as pd
# to load contraception dataset, you need to pip install ucimlrepo
from ucimlrepo import fetch_ucirepo

In [8]:
mushrooms = pd.read_csv("secondary_data.csv", sep = ";")
mushrooms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61069 entries, 0 to 61068
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   class                 61069 non-null  object
 1   cap-diameter          61069 non-null  float64
 2   cap-shape             61069 non-null  object
 3   cap-surface           46949 non-null  object
 4   cap-color             61069 non-null  object
 5   does-bruise-or-bleed  61069 non-null  object
 6   gill-attachment       51185 non-null  object
 7   gill-spacing          36006 non-null  object
 8   gill-color            61069 non-null  object
 9   stem-height           61069 non-null  float64
 10  stem-width            61069 non-null  float64
 11  stem-root             9531 non-null   object
 12  stem-surface          22945 non-null  object
 13  stem-color            61069 non-null  object
 14  veil-type             3177 non-null   object
 15  veil-color            7413 non-null   object
 16  has-ring              61069 non-null  object
 17  ring-type             58598 non-null  object
 18  spore-print-color     6354 non-null   object
 19  habitat               61069 non-null  object
 20  season                61069 non-null  object
dtypes: float64(3), object(18)
memory usage: 9.8+ MB

In [9]:
mushrooms.isna().sum()

class                       0
cap-diameter                0
cap-shape                   0
cap-surface             14120
cap-color                   0
does-bruise-or-bleed        0
gill-attachment          9884
gill-spacing            25063
gill-color                  0
stem-height                 0
stem-width                  0
stem-root               51538
stem-surface            38124
stem-color                  0
veil-type               57892
veil-color              53656
has-ring                    0
ring-type                2471
spore-print-color       54715
habitat                     0
season                      0
dtype: int64

In [7]:
contraceptive_method_choice = fetch_ucirepo(id=30) 
X = contraceptive_method_choice.data.features 
y = contraceptive_method_choice.data.targets

full_dataset = pd.concat([y, X], axis = 1)
full_dataset.head()

,contraceptive_method,wife_age,wife_edu,husband_edu,num_children,wife_religion,wife_working,husband_occupation,standard_of_living_index,media_exposure
0,1,24,2,3,3,1,1,2,3,0
1,1,45,1,3,10,1,1,3,4,0
2,1,43,2,3,7,1,1,3,4,0
3,1,42,3,2,9,1,1,3,3,0
4,1,36,3,3,8,1,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...
1468,3,33,4,4,2,1,0,2,4,0
1469,3,33,4,4,3,1,1,1,4,0
1470,3,39,3,3,8,1,0,1,4,0
1471,3,33,3,3,4,1,0,2,2,0
1472,3,17,3,3,1,1,1,2,4,0

In [8]:
full_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   contraceptive_method      1473 non-null   int64
 1   wife_age                  1473 non-null   int64
 2   wife_edu                  1473 non-null   int64
 3   husband_edu               1473 non-null   int64
 4   num_children              1473 non-null   int64
 5   wife_religion             1473 non-null   int64
 6   wife_working              1473 non-null   int64
 7   husband_occupation        1473 non-null   int64
 8   standard_of_living_index  1473 non-null   int64
 9   media_exposure            1473 non-null   int64
dtypes: int64(10)
memory usage: 115.2 KB

In [9]:
full_dataset.isna().sum()

contraceptive_method        0
wife_age                    0
wife_edu                    0
husband_edu                 0
num_children                0
wife_religion               0
wife_working                0
husband_occupation          0
standard_of_living_index    0
media_exposure              0
dtype: int64